
header, main, footer, nav, section, table {
    display: block;
}

body {
    background: #171932;
    margin: 0px;
    padding: 0px;
}

header {
    width: 100%;
}

#example1 {
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSfprINjHVFrgB1TPlLt5uHt2qkfceOgy_BOGf-0zpfK8yUTOo4&usqp=CAU');
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    margin-top: 10px;
}


.fas.fa-plane-departure {
    font-size: 48px;
    color: rebeccapurple;
}

h2 {
    display: inline;
    padding-left: 20px;
    color: white;
    font-family: Impact, Charcoal, sans-serif;
}

section p {
    color: white;
    font-size: 30px;
    font-family: Impact, Charcoal, sans-serif;
}

p span {
    color: gray;
    font-size: 15px;
}

.bottom {
    background-color: mediumpurple;
    text-align: center;
    height: 35px;
}

a {
    text-decoration: none;
    color: white;
}

.fa-apple-alt {
    padding: 20px;
    font-size: 30px;
    width: 35px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 35px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}


    .fa:hover {
        opacity: 0.7;
    }

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa.fa-instagram {
    background: #125688;
    color: white;
}
